.Contact-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Con-Container h3 {
  color: white;
  font-size: 2rem;
  text-transform: lowercase;
  font-weight: 300;
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
  margin-top: 3rem;
}

.Contact-Container img {
  height: 40px;
  width: 60px;
  margin: 30px 20px;
}

.Contact-Container p {
  color: white;
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 300;
  font-family: 'Raleway', 'sans-serif';
  text-align: center;
}

#Phone {
  margin: 3rem;
  border-bottom: 1px solid #30dad8;
}

@media screen and (min-width: 768px) {
  .Con-Container h3 {
    font-size: 2.2rem;
  }
  .Contact-Container p {
    font-size: 1.15rem;
  }
  .Contact-Container img {
    height: 55px;
    width: 75px;
    margin: 30px 25px;
  }
}

@media screen and (min-width: 1024px) {
  .Contact-Container p {
    font-size: 1.2rem;
  }
  .Contact-Container img {
    height: 65px;
    width: 85px;
    margin: 30px 35px;
  }
}

@media screen and (min-width: 1440px) {
  .Con-Container h3 {
    font-size: 2.75rem;
  }
  .Contact-Container img {
    height: 80px;
    width: 100px;
    margin: 40px 45px;
  }
  .Contact-Container p {
    font-size: 1.3rem;
  }
}
